__pycache__/
build/
*.egg-info/
*.so
venv_*/
.vs/

TOKEN
*.ckpt

densegridencoder
tets/256_tets.npz

.vscode/launch.json

tmp_*
model_cache
point_e_model_cache
logs
test.*
*.mp4

data2
data3
data4
data_obj

test_inpaint.py