tqdm
rich
omegaconf

numpy
scipy
scikit-learn
kornia
matplotlib
opencv-python
imageio
imageio-ffmpeg

torch
einops

# for stable-diffusion
huggingface_hub
diffusers >= 0.9.0
accelerate
transformers

# for dmtet and mesh export
xatlas
plyfile
pygltflib
trimesh


# for gui
dearpygui
kiui